/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
}
 */
.page-wrap{
  font-family:'Tahoma','Helvetica',sans-serif;
  /*background-color:slategray;*/
  text-align:left;
  width:80%;
  height:100%;
  min-height:900px;
  margin:0 auto;
}

.top-bar{
	padding:2% 0;
	margin:1% 0;
}

.top-bar > h2 {

  width:15%;
	margin-left: 4%;
  padding: 0;
  float:left;

}

.article-list{
  background-color:orange;
  width:80%;
  height:90%;
  margin:0 auto;

  position:relative;

}
.article-list ul{
  list-style-type:none;
  color:gray;
  float:none;
	width:80%;
	margin-left:2em;
	padding: 0;

}
/*adding margin to the bottom pushes list and header down to next div. No vertical alignment? */
/*how float left without going left of title, if title is floated parent collapses */

.article-list ul li{
  float:left;
  text-transform:uppercase;
	font-size:.75em;
}

.inner{
  background-color:gainsboro;
  color:black;
	height:90%;
	clear:none;

}

.inner li{
/*    outline:2px solid black; */
   padding:0.2em;
   margin: 0.5em 2em;
   color:gray;
}

.inner p,h3{
  color:black;
}

.footer{
	height:10%;
	margin: 0 auto;
	display: table;
}
.footer-nav{
	margin:0 auto;
}
/*Aligns left??*/
.footer-nav ul{
	padding:2em 0;
  list-style-type:none;
  float:none;
	width:100%;
	text-align: center;
}/*color works with below but not above selector?*/
.footer-nav li{
	color:black;
  float:left;
	font-size:1em;
	padding:0 0.2em 0 0;
	margin:0;
	text-transform: none;
	display:inline-block;
}


h1{
  font-size:2em;
  padding:1em;
  letter-spacing:1em;
  font-weight:900;
  color:khaki;
}

h2{
  padding:0.5em;
	font-weight: 900;
}

h3{

}

span{
  padding:0 .5em;
  color:gray;
}
