/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul li{
  float:left;
  text-transform:uppercase;
	font-size:.75em;
	color:gray;
}

.page-wrap{
  font-family:'Tahoma','Helvetica',sans-serif;
  text-align:left;
  max-width: 960px;
  margin:0 auto;
	overflow: auto;
}

.top-bar{

  background-color:orange;
	height:10%;
	overflow: auto;

}

.top-bar img{
	display:inline-block;
	float:left;
	max-width:24px;
	max-height:24px;
	margin:0 0 0 0;
	vertical-align: bottom;
}

.top-bar > h2 {
	display: inline-block;;
  padding:0 2%;
	margin:0 auto;
	top:0.3em;
  float:left;
	vertical-align: bottom;
	overflow: auto;
	position: relative;
}

.top-nav{
	float:left;
	margin:0 auto;
	overflow: auto;
	width:80%;
	vertical-align: bottom;
	top:0.4em;
	position: relative;

}
.top-nav{
	list-style-type: none;
	border-left: 2px solid black;
}
.top-nav:last-child{
	border:none;
}


.top-nav ul li
{
	overflow: auto;
  list-style-type:none;
  color:gray;
	margin:0;
	top:1px;
	position: relative;
	padding:1px 5px;

}
/*adding margin to the bottom pushes list and header down to next div. No vertical alignment? */
/*how float left without going left of title, if title is floated parent collapses */

/*general ul li overrides class selected ul li*/


.inner{
	padding: 18px 0 0 0;
  color:black;
	height:90%;
	clear:both;
	background: #F6F6EF;
}

.inner p,h3{
  color:black;
}

.inner ol {

	list-style: decimal;
	padding-left: 40px;

}
.inner li{
	padding-bottom:12px;
}

.footer{
	height:10%;
	margin: 0 auto;
	padding: 0 0 2% 0;
	border-top: 2px solid gray;
}
.footer-nav{
	display: table;
	margin:0 auto;
}
/*Aligns left??*/
.footer-nav ul{
	padding:2em 0;
  list-style-type:none;
  float:none;
	text-align: center;
}/*color works with below but not above selector?*/
.footer-nav li{
	color:black;
  float:left;
	padding:0 0.2em 0 0;
	margin:0;
	text-transform: none;
	display:inline-block;
}
form{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width:100%;
}
.searchbox p{
	color:gray;
	display: inline;
}

h1{
  font-size:2em;
  padding:1em;
  letter-spacing:1em;
  font-weight:900;
  color:khaki;
}

h2{
  padding:0.5em;
	font-weight: 900;
}

ol{
	margin-top: 0;
	padding-top: 0;
}

span{
  padding:0 .5em;
  color:gray;
}
sub{
	font-size:.75em;
	color:gray;

}

@media screen and (max-width: 720px){

	ul li{
		float:none;
		clear:none;
		overflow: auto;
	}
	.top-bar{
		padding-bottom: 18px;
	}
	.top-bar > h2 {
		display: inline-block;;
		margin:0;
	  padding:0 2%;
		margin:0 auto;
		top:0.3em;
	}
}
